.hip-location-setting #feedback {
    display: block;
    position: fixed;
    top: 50px;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0
}
.hip-location-setting #feedback p {
    font-size: 1.3em;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}
.hip-location-setting #feedback p.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}
.hip-location-setting #feedback p.failure {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.hip-location-setting {
    width: 80%;
}

span {
    font-size:.8em;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 25%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent input[type="text"] {
    width: 20em;
}

@media(max-width: 1200px) {
    .tabcontent input[type="text"] {
        width: 15em;
    }
}