/*************************
 * Global Location Map
 * **********************/

section.location {
  display: block;
  position: relative;
}
section.location .location-wrapper {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}

section.location .location-wrapper .map-locations {
  width: 42%;
  flex-basis: 42%;
}
@media (min-width: 880px) {
  section.location .location-wrapper .map-locations {
    position: absolute;
    left: 0;
    background: white;
    z-index: 1;
    opacity: 0.95;
    padding: 25px 30px;
    height: 100%;
  }
}
@media (min-width: 880px) {
  section.location .location-wrapper .map-locations .location-name-items {
    max-width: 400px;
    margin-left: auto;
    margin-right: 0;
    padding: 45px 5px;
  }
}
section.location .location-wrapper .map-locations .location-name-items h4 {
  color: #222;
  font-size: 1.5rem;
  font-weight: normal;
}
section.location .location-wrapper .map-locations ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section.location .location-wrapper .map-locations ul li {
  display: block;
}
section.location .location-wrapper .map-locations ul li + li {
  margin-top: 15px;
}
section.location .location-wrapper .map-locations ul li a {
  color: #666;
  font-weight: 400;
  font-size: 18px;
  padding: 5px 20px 5px 15px;
  text-decoration: none;
}
section.location .location-wrapper .map-locations ul li a:hover {
  background: #addeec;
}
section.location .location-wrapper .map-wrapper {
  width: 100%;
  flex-basis: 100%;
}

#map_canvas {
  height: 450px;
  width: 100%;
}
@media (max-width: 879px) {
  #map_canvas {
    height: 350px;
    width: 100%;
  }
}
@media (max-width: 879px) {
  section.location .location-wrapper {
    flex-direction: column;
    text-align: center;
  }

  section.location .location-wrapper .map-locations,
  section.location .location-wrapper .map-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }

  .mb-0 {
    display: none;
  }

  a.primary-txt:not(.gmb) i {
    display: none;
  }

  a.gmb {
    position: relative;
    top: -15px;
    margin-bottom: 15px;
    display: inline-block;
  }

  ul.location-lists li:last-child a.gmb {
    top: 10px;
  }
}
section.location ~ p {
  margin-bottom: 0;
}

/*******************************
 * Individual Location Pages
 * ****************************/
.single-location-container {
  display: flex;
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}

.single-location-container .content-column {
  width: 35%;
  flex-basis: 35%;
  padding: 20px 10px;
}

.single-location-container .map-column {
  width: 65%;
  flex-basis: 65%;
  padding: 20px 10px;
}

#single_map_canvas {
  height: 450px;
}

.single-location-container .location-button {
  display: block;
  padding: 20px;
  margin: 10px 0;
  color: white;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.single-location-container .button-column:first-child {
  margin-right: 10px;
}

.single-location-container .button-column:last-child {
  margin-left: 10px;
}

.single-location-container .button-container {
  display: flex;
}

.single-location-container .button-column {
  width: 50%;
  flex-basis: 50%;
}

.location-reviews-container {
  max-width: 610px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.review-icon-container a {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
  display: inline-block;
}

@media (max-width: 880px) {
  .single-location-container {
    flex-direction: column;
    text-align: center;
  }

  .single-location-container .button-container {
    flex-direction: column;
    text-align: center;
  }

  .single-location-container .map-column,
  .single-location-container .content-column,
  .single-location-container .button-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .single-location-container .button-column:first-child {
    margin-right: 0px;
  }

  .single-location-container .button-column:last-child {
    margin-left: 0px;
  }
}

/** location without maps **/
section.location-without-maps {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../src/img/maps-wraper.jpg);
}
section.location-without-maps .wrapper-container {
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
}
section.location-without-maps .wrapper-container ul.location-lists {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0 42px;
}

ul.location-lists:last-child {
  margin-bottom: 0;
}

section.location-without-maps .wrapper-container ul.location-lists li {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  width: 33.33%;
}

.footer_location_nonmobile p {
  margin: 0;
  padding: 0;
}
.locations-footer-menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

section.location-without-maps .wrapper-container ul.view-more {
  list-style: none;
  position: relative;
}

section.location-without-maps .wrapper-container ul.view-more li ul {
  display: none;
  position: absolute;
  z-index: 100;
  text-align: center;
  background-color: lightsalmon;
  width: 100%;
  list-style: none;
}
section.location-without-maps .wrapper-container ul.view-more:hover li ul {
  display: block;
}
section.location-without-maps ~ p {
  margin-bottom: 0;
}
section.location-without-maps .wrapper-container ul.location-lists li p i {
  font-size: 40px;
}

section.location-without-maps .wrapper-container ul.location-lists li p {
  margin: inherit;
}

a.no-underline:hover {
  text-decoration: none;
}

.footer_location_nonmobile {
  display: inline-block;
}

.footer_location_nonmobile.phone_block a {
  text-decoration: none;
}

.footer_location_nonmobile.phone_block a:hover {
  text-decoration: none;
}

.footer_location_mobile {
  display: none;
}

.archive_cta {
  margin-bottom: 15px;
}

.location-excerpt p {
  margin-bottom: 0;
}

@media (max-width: 880px) {
  section.location-without-maps .wrapper-container ul.location-lists {
    display: block;
    padding: 10px;
    margin-bottom: 0;
  }

  section.location-without-maps .wrapper-container ul.location-lists li {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 0 auto;
  }

  ul.view-more li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .footer_location_nonmobile {
    display: none;
  }

  .footer_location_mobile {
    display: inline-block;
  }

  .wrapper-container ul.location-lists li p {
    margin: 0;
  }

  ul.location-lists li:last-child button.footer-primary-call-button {
    margin-bottom: 0 !important;
  }
}
